/.gradle
/XmlResolver/.idea
/XmlResolver/SampleApp/bin
/XmlResolver/SampleApp/obj
/XmlResolver/UnitTests/.idea
/XmlResolver/UnitTests/bin
/XmlResolver/UnitTests/obj
/XmlResolver/XmlResolver/bin
/XmlResolver/XmlResolver/obj
/XmlResolver/XmlResolverData/bin
/XmlResolver/XmlResolverData/obj
/XmlResolver/XmlResolverData/Data
/build
*.DotSettings.user
