/.gradle
/XmlResolver/.idea
/XmlResolver/SampleApp/bin
/XmlResolver/SampleApp/obj
/XmlResolver/UnitTests/.idea
/XmlResolver/UnitTests/bin
/XmlResolver/UnitTests/obj
/XmlResolver/XmlResolver/bin
/XmlResolver/XmlResolver/obj
/build
*.DotSettings.user
.DS_Store